<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()" class="btn btn-secondary">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <div style="text-align: right; padding: 10rem 0rem;">
          <button (click)="onHireme()" type="button" class="btn btn-success">Hire me</button></div>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

