<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Social</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data.position-absolute text-center">
      <div class="background" id="3"></div>
      <h3>{{ 'yllka' | uppercase}}</h3>
        <p><br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus optio provident tempore
          obcaecati illum labore adipisci rem necessitatibus voluptates! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde deleniti,
           possimus sapiente earum natus quam excepturi accusamus eius. Vitae deleniti accusantium expedita exercitationem iure at labore illo,
           recusandae blanditiis libero maiores eaque? Minus nesciunt ut, quos voluptatem
          iusto adipisci consequatur iure tempore quas doloremque, cumque atque assumenda praesentium laboriosam vitae. Lorem ipsum, dolor sit amet
           consectetur adipisicing elit. Saepe, itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi!
       <p2 socialTextStyle>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsam</p2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, debitis. Rem, eaque ab cum id magni eos dicta hic voluptatum.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, minima voluptatum! Consequuntur laborum nobis distinctio saepe ipsa doloremque id eaque?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus optio provident tempore
      obcaecati illum labore adipisci rem necessitatibus voluptates! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde deleniti,
       possimus sapiente earum natus quam excepturi accusamus eius. <p1 socialTextStyle> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, consequuntur?</p1>
       Vitae deleniti accusantium expedita exercitationem iure at labore illo,
       recusandae blanditiis libero maiores eaque? Minus nesciunt ut, quos voluptatem
      iusto adipisci consequatur iure tempore quas doloremque, cumque atque assumenda praesentium laboriosam vitae. Lorem ipsum, dolor sit amet
       consectetur adipisicing elit. Saepe, itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsam.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, debitis. Rem, eaque ab cum id magni eos dicta hic voluptatum.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, minima voluptatum! Consequuntur laborum nobis distinctio saepe ipsa doloremque id eaque.</p>
  <h3>{{today}}</h3>


    </div>
  </div>
</div>



