<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Skills</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data.position-absolute text-center">
      <p><b>On Loading..</b></p>
      <div class="skills">
        <div class="outer">
          <div class="inner">
            <div id="number">
                ( Angular )
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
             <linearGradient id="GradientColor2">
                <stop offset="7%" stop-color="#e91e63" />
                <stop offset="100%" stop-color="#673ab7" />
             </linearGradient>
          </defs>
          <circle cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div><br>
      <p><b>Last Three Months</b></p><hr>
      <p>Java Script</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="70">55%</div>
      </div>
      <p>HTML</p>
      <div class="progress">
        <div class="progress-bar2" role="progressbar" style="width: 84%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="70">84%</div>
    </div>
    <p>Figma</p>
      <div class="progress">
        <div class="progress-bar3" role="progressbar" style="width: 32%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="70">32%</div>

  </div>
</div>

