.page {
  color: white;
  padding: 0 1rem;
  background:  #bac0ba;
  &__box {
    min-height: 120px;
    background: #bac0ba;
    margin: 3 -1rem;
    margin-left: 3rem;
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 8rem;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
