<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Contact</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data.position-absolute text-center">
      <mat-nav-list><br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
          <mat-icon contactListStyle>phone</mat-icon>(+383) 43-857-551
        </a><br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
          <mat-icon contactListStyle>mail</mat-icon> yllkaxtemaj@gmail.com
        </a><br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
          <mat-icon contactListStyle>alternate_email</mat-icon> yllkatemaj001@gmail.com
        </a><br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
          <mat-icon contactListStyle>location_on</mat-icon> Street.Zagrebi,Arberi
        </a><br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
          <mat-icon contactListStyle>contact_mail</mat-icon> yllkatemaj
        </a><br>

      </mat-nav-list>
    </div>
  </div>
</div>


