:host{
  display: flex;
  flex-direction: column;
  height: 100%;

}
.mat-drawer{

  color: rgb(14, 14, 14);
  width: 350px;
  background-color: rgb(149, 159, 158);


}
.mat-drawer-container{

  color: antiquewhite;
  height: 100%;


}
