<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Statement of Interest</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data.position-absolute text-center">
      <br>
      <br><p>Senior graduate student in Computer Science-Software Engineering program
        at Riinvest College,seeking employment  opportunities in the field of Information and Technology
        as a front-end developer.Highly-motivated individual seeking to expand my skills in the field of
        technology through hands-on experience in projects working in an inspiring and challenging environment.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium tempora officia quo est recusandae eos consequuntur consectetur saepe, aspernatur nemo,
       enim provident suscipit, hic delectus nulla voluptatem tempore facilis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil aspernatur ipsa eos magnam dolores hic
        inventore,  maxime modi quibusdam omnis beatae autem deleniti fuga officiis, cumque fugit vero rerum rem!</p>
        <img src="../../assets/d41586-019-01696-4_16735200.jpg" alt="">
    </div>
  </div>
</div>

