  <mat-nav-list>
    <div class="logo py-4">
    <img src="../../assets/IMG_4409.jpg" alt="">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader class="mt-2">Yllka Temaj</h2><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/aboutme">
      <mat-icon>label</mat-icon> About me
    </a><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
      <mat-icon>contact_mail</mat-icon> contact
    </a><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/social">
      <mat-icon>person_outline</mat-icon> Social
    </a><br>
  </mat-nav-list>
