<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Employment and Experience</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data.position-absolute text-center">
        <br>
        <h4>Internship(Full-Stack Developer)</h4>
        <h3>Starlabs[Jul 2022-Oct 2022]</h3>
        <ul>
        <li>Collaborated with  "Postieri"  website for delivery service.</li>
        <li>Developed web design ideas with the team .</li>
        <li>Got introduced to using tokens and API.</li>
        <li>Worked with Vue JS language and Jira software.</li>
        </ul>
       <br>
       <hr>
       <h4>Web Developer(Practicioner)</h4>
        <h3>Ict for Kosovo's Growth[Mar 2022-Jun 2022]</h3>
       <ul>
        <li>Primarily used HTML, CSS, BOOTSTRAP and JAVA</li>
        <li>Handled web site programming tasks.</li>
        <li>Redesigned internet sites using Figma.</li>
        <li>Got familiar with UI/UX design.</li>
       </ul>
    </div>
  </div>
</div>
